.jumbotron {
	padding-top: 90px;
	min-height: 800px;
	margin-bottom: 0;
	background-image: url('images/deadtree.jpeg');
	background-size: cover;
	text-align: center;
	height: 100vh;
}

.jumbotron h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 144px;
  color: #890707;
  margin-bottom: 0px;
  text-align: center;
  border: 10px solid ;
  border-color: #4A2017;
  border-style: double;
  border-radius: 10px;
  padding-bottom: 20px
}

#plantofweek {
	padding-top: 90px;
	background-image: url('images/dead-trees-namibia.jpg');
	background-size: cover;	
	font-family: 'Spectral', serif;
	text-align: center;
	min-height: 800px;
	height: 100vh;
	align-content: center;
	padding-top: 50px;
}

#header{
  margin-top: 50px;
  margin-bottom: 0px;
  text-align: center;
  background-image: url('images/dead-tree-3.jpg');
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 50px;
}

#footer {
	padding-top: 30px;
	text-align: center;
	padding-bottom: 30px;
	background-color: rgba(219,219,219,1);
}


.form-inline {
	text-align: center;
	padding-bottom: 20px;
}

h1 {
  font-family: 'Cormorant Garamond', serif;
  color: #890707;
  margin-bottom: 0px;
  text-align: center;
  font-size: 72px;
  }

h2 {
	font-family: 'Spectral', serif;
	font-size: 36px;
	color: #4A2017;
	margin-bottom: 10px;
	text-shadow: 2px, 2px, black;
	opacity: 0.9;
}

h3 {
	font-family: 'Spectral', serif;
	font-size: 24px;
	color: #4A2017;;
	margin-bottom: 10px;
	
}

.navbar-inverse {
  background-color: rgba(32, 35, 41,0.8);
}


.form-inline imput[name='email'] {
	width: 80%;
}


#social-buttons  button { 
	color:white; 
}

ul.contact
	{
		padding: 1em 0 0 0;
		list-style: none;
		cursor: default;
	}
	
ul.contact li
	{
		display: inline-block;
		margin: 0 1em;
	}
	
ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
ul.contact li a
	{
		color: inherit;
		font-size: 1.75em;
		display: inline-block;
		-moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
	}
	
ul.contact li a:hover
	{
		color: #fff;
	}

.bx-wrapper{
	box-shadow: none;
}

.bx-caption{
	position:relative;
}

.tools img{
	max-height: 400px;
	caption-side: bottom;
}

.footer1{
	position: relative;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	text-align: left;
}

.footer1 li{
	display: inline;
	list-style-type: none;
	padding-right: 50px

}

.blogfont {
	font-family: 'Spectral', serif;
	font-size: 20px;
	color: #890707;
	justify-content: true;
	
}

.blogfont .row{
	padding-bottom: 20px;
}

.floatleft{
	float: left;
	max-height: 250px;
	max-width: 250px;
	margin-right:20px;
}

.floatright{
	float: right;
	max-height: 250px;
	margin-left:20px;
}
.item {
	height: 800px;
	width: auto;
	align-content: center;
}

