#HowToGarden {
	margin-top: 100px;
}
#underwatered {
	max-height: 200px;
	float:left;
	padding-right: 10px;
	padding-bottom: 20px; 
}

#moving {
	max-height: 150px;
	float:right;
	padding-right: 10px;
	padding-bottom: 20px; 
}

#plantsvseeds {
	float:left;
	max-height: 150px;
	padding-right: 10px;
	padding-bottom: 20px; 
}