#HowToGarden {
	margin-top: 100px;
}
#underwatered {
	max-height: 150px;
	float:right;
	padding-right: 10px;
	padding-bottom: 20px; 
}

#moving {
	max-height: 150px;
	float:left;
	padding-right: 10px;
	padding-bottom: 20px; 
}

#plantsvseeds {
	float:left;
	max-height: 150px;
	padding-right: 10px;
	padding-bottom: 20px; 
}

#planting {
	float:right;
	max-height: 150px;
	padding-right: 10px;
	padding-bottom: 20px; 
}
#flooded {
	max-height: 150px;
	float:left;
	padding-right: 10px;
	padding-bottom: 20px; 
}

#feeding {
	max-height: 150px;
	float:left;
	padding-right: 10px;
	padding-bottom: 20px; 
}

.footer1{
	text-align: left;
}

.footer1 li{
	display: inline;
	list-style-type: none;
	padding-right: 100px

}