#header{
  margin-top: 50px;
  margin-bottom: 0px;
  text-align: center;
  background-image: url('images/dead-tree-3.jpg');
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 20px;

}

#footer{
	padding-top: 30px;
	text-align: center;
	padding-bottom: 30px;
	background-color: rgba(219,219,219,1);
}

.floatleft{
	float: left;
	max-height: 200px;
	margin-right:20px;
}

.floatright{
	float: right;
	max-height: 200px;
	margin-left:20px;
}

.row{
	margin-bottom: 20px;
}

p {
	font-family: 'Spectral', serif;
	font-size: 16px;
